.main {
  height: 100%;
  position: relative;
}
.main__background {
  padding: 0 15px 15px;
  background-color: var(--background);
}
.main__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main__title {
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}
.main__section-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.main__left,
.main__right {
  font-size: 2vw;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text2);
  background-color: var(--form-background);
  transition: font-size 0.3s;
  cursor: pointer;
}

.main__left:hover,
.main__right:hover {
  background-color: var(--none);
  color: var(--text2);
  font-size: 2.3vw;
}

.slide-in-right-rand {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-right-rand.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left-rand {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-left-rand.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}
